<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Career Counseling Chat bot</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="static/vendor/bootstrap/css/bootstrap.min.css" >
  <link rel="stylesheet" href="static/vendor/bootstrap-icons/bootstrap-icons.css" >
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="static/css/main.css" >
 <script>
    function myFunction() {
      var x = document.getElementById("div2");

      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    </script>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>CareerGuide<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Welcome to <span>Career Counseling</span></h2>
            <p data-aos="fade-up">CareerGuide brings to you scientific and meticulously designed Psychometric
              Assessments

              to discover your true potential and interest ,learning styles and skills to excel in 21st Century</p>
            <a data-aos="fade-up" data-aos-delay="200" href="#services" class="btn-get-started">Get Started</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(static/img/hero-carousel/hero-carousel-3.jpg)">
      </div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/hero-carousel-2.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/hero-carousel-1.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/hero-carousel-4.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/hero-carousel-5.jpeg)"></div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- End Hero Section -->

  <main id="main">
   

    <!-- ======= Constructions Section ======= -->
    <section id="constructions" class="constructions">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Streams</h2>
          <p></p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(static/img/maths.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Science(Maths).</h4>
                    <p>Science & Technology has made
                      immense progress. It has become
                      an integral part of our lives.
                      Technology encompasses everything
                      from the mobile phone to Mars shuttle,
                      measuring the movements of a foetus
                      to seismic waves. It is making rapid
                      progress every day</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(static/img/biology.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Science(Biology)</h4>
                    <p>Biology include everything related to health.
                      M.B.B.S., B.H.M.S., B.A.M.S. are more
                      familiar to people, but this field also
                      includes B.D.S., Nursing, Pharmacy,
                      Paramedical, Biomedical, Veterinary,
                      Healthcare, etc. Fitness training, Yoga,
                      Nutrition, etc. are also a part of
                      Health & Life Sciences .
                      </p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(static/img/commerce.jpg);"> </div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Commerce</h4>
                    <p>Commerce is related to business or
                      trade. It is an inseparable part of our
                      day-to-day life. CA, CS, ICWA,
                      MBA, etc. are commonly known to all.
                      However, fields such as taxation,
                      banking, accounting, purchase, sales,
                      marketing, insurance, logistics, business
                      development, finance, retail management,
                      audit, etc. are also a part of Commerce.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(static/img/arts.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Arts</h4>
                    <p>Fine Arts is a natural part of us, which has
                      existed since the time Man has existed.
                      Fine Arts can be broadly classified as
                      Visual Arts, Performing Arts and Applied
                      Arts. Visual Arts includes drawing, painting,
                      sculpting, designing, photography, film
                      making, etc. Performing Arts include dance,
                      music, drama, etc. </p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

        </div>

      </div>
    </section>

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>SELECTOR</h2>
          <p>Selection of a Stream can be done using three different ways.</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-book-half"></i>
              </div>
              <h3>Stream Selection</h3>
              <p>According to your selection of the subjects, you are suggested with some fields.</p>
              <button onclick="myFunction()">Take test</button>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Skill Based Selection</h3>
              <p>According to your Skills, you are suggested with some fields.</p>
              <a href="#get-started" class="readmore stretched-link">Click on Chat Icon to Learn more<i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>Pshycometric Test</h3>
              <p>According to Pshycometric Test Result, you are suggested with some fields.</p>

              <a href="#get-started" class="readmore stretched-link">Pshycometric Test<i
                  class="bi bi-arrow-right"></i></a><br>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Services Section -->
  <div  id="div2" >
   <section class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>test</h2>
          <p>Selection of a Stream can be done using three different ways.</p>
        </div>
        <div>
          <form method="POST" action="pre">

              <h1>Skill Based Form To Gather Information</h1>
              <div class="form-group justify-content-center mb-4">
                <label>Programming Concept(1-100):</label><br />
                <input
                  type="text"
                  class="form-control"
                  id="Programming"
                  placeholder="Programming Concept(1-100)"
                />
              </div>
              <br />
              <div class="form-group justify-content-center mb-4">
                <label>Computer Networks(1-100):</label><br />
                <input
                  type="text"
                  class="form-control"
                  id="ComputerNetworks"
                  placeholder="Computer Networks(1-100)"
                />
              </div>
              <br />
              <div class="form-group justify-content-center mb-4">
                <label>Logical Quotient(1-100):</label><br />
                <input
                  type="text"
                  class="form-control"
                  id="Logical_quotient"
                  placeholder="Logical Quotient(1-100)"
                />
              </div>
              <br />
              <div class="form-group justify-content-center mb-4">
                <label>Coding Skills(1-100):</label><br />
                <input
                  type="text"
                  class="form-control"
                  id="coding_skills"
                  placeholder="Coding Skills(1-100)"
                />
              </div>
              <br/>
              <div class="form-group justify-content-center mb-4">
                <label>Public Speaking(1-100):</label><br />
                <input
                  type="text"
                  class="form-control"
                  id="public_speaking"
                  placeholder="Public Speaking(1-100)"
                />
              </div>
              <br />
              <div>
                <label>Self-Learning Capability:</label><br />
                <select id="Self_learn">
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                </select>
              </div>
              <br />
              <div>
                <label for="Certifications">Certifications:</label>

                <select id="Certifications">
                  <option value="shell Programming">Shell Programming</option>
                  <option value="machine Learning">Machine Learning</option>
                  <option value="app Development">App Development</option>
                  <option value="python">Python</option>
                  <option value="r programming">R Programming</option>
                  <option value="information security">Information Security</option>
                  <option value="hadoop">Hadoop</option>
                  <option value="distro making">Distro Making</option>
                  <option value="full stack">Full stack</option>
                </select>
              </div>
              <br />
              <div>
                <label for="Workshops">Workshops:</label>

                <select id="Workshops">
                  <option value="cloud computing">cloud computing</option>
                  <option value="database security">Database Security</option>
                  <option value="web technologies">Web Technologies</option>
                  <option value="data science">Data Science</option>
                  <option value="testing">Testing</option>
                  <option value="hacking">Hacking</option>
                  <option value="game development">Game Development</option>
                  <option value="system designing">System Designing</option>
                </select>
              </div>
              <br />
              <div>
                <label>Memory Capability Score</label><br />
                <select id="Memory">
                  <option value="High">High</option>
                  <option value="Medium">Moderate</option>
                  <option value="low">Low</option>
                </select>
              </div>
              <br />
              <div>
                <label for="InterestedSubjects">Interested Subjects:</label>

                <select id="InterestedSubjects">
                  <option value="cloud computing">Cloud Computing</option>
                  <option value="networks">Networks</option>
                  <option value="hacking">Hacking</option>
                  <option value="Computer Architecture">Computer Architecture</option>
                  <option value="programming">Programming</option>
                  <option value="parallel computing">Parallel Computing</option>
                  <option value="IOT">IOT</option>
                  <option value="data engineering">Data Engineering</option>
                  <option value="Software Engineering">Software Engineering</option>
                  <option value="Management">Management</option>
                </select>
              </div>
              <br />
              <div>
                <label for="InterestedCareer_area">Interested Career Area:</label>

                <select id="InterestedCareer_area">
                  <option value="system developer">System Developer</option>
                  <option value="Business process analyst">
                    Business process analyst
                  </option>
                  <option value="developer">Developer</option>
                  <option value="testing">Testing</option>
                  <option value="security">Programming</option>
                  <option value="cloud computing">Cloud Computing</option>
                </select>
              </div>
              <br />
              <div>
                <label for="TypeofCompany">Type of company want to Work with:</label>

                <select id="TypeofCompany">
                  <option value="Web Services">Web Services</option>
                  <option value="SAaS services">SAaS services</option>
                  <option value="Sales and Marketing">Sales and Marketing</option>
                  <option value="Testing and Maintainance Services">
                    Testing and Maintainance Services
                  </option>
                  <option value="product development">Product Development</option>
                  <option value="BPA">BPA</option>
                  <option value="Service Based">Service Based</option>
                  <option value="Product based">Product based</option>
                  <option value="Cloud Services">Cloud Services</option>
                  <option value="Finance">Finance</option>
                </select>
              </div>
              <br />
              <div>
                <label>Types of Job role:</label><br />
                <select id="jobRole">
                  <option value="Management">Management</option>
                  <option value="Technical">Technical</option>
                </select>
              </div>
                  <br />
              <br />
              <div>
                <label>Worked in Team:</label><br />
                <select id="work_teams">
                  <option value="wtYes">Yes</option>
                  <option value="wtNo">No</option>
                </select>
              </div>
              <br />
              <button type="submit" class="btn btn-primary">Submit</button>

              <div style="text-align: center;">
                <h1>Suggested job role for you is:</h1>
              <h1 style='color:black'>{{ result }}</h1>
              </div>

            </form>

          </div><!-- End Service Item -->

        </div>


    </section>
    </div>
    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="get-started section-bg">
      <div class="container">

        <div class="row justify-content-between gy-4">

          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">

            <div class="content">
              <h3>We provide you a detailed start to a perfect career.</h3>

              <p> Are you making that important career decision, but are you utilizing the same old way of picking a
                career based on the decisions of your friends, parents, or relatives? It is very natural to stay
                confused about your career but using the old method can provide you more confusion. Use the new
                scientific method to choose the ideal career for yourself.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <img src="static/img/hero-carousel/hero-carousel-1.jpg" class="w-100">

          </div>
          <div class="col-lg-5" data-aos="fade">

            <div>
                    <script
                        src="https://cdn.cai.tools.sap/webchat/webchat.js"
                        channelId="728a4b6b-c17e-4b1d-81aa-0239583d4868"
                        token="c5968a7778b21028425520986d6d03d8"
                        id="cai-webchat">
                    </script>
<!--              <script src="https://cdn.cai.tools.sap/webchat/webchat.js"-->
<!--                          channelId="afc4e6fb-3322-4ed8-a617-d0ae55b1d681" -->
<!--                          token="1e6a5a4d6360e208772a4b1b6b188ac3"-->
<!--                          id="cai-webchat">-->
<!--                          </script>-->
        
        
            </div>
            
          </div><!-- End Quote Form -->

        </div>

      </div>
    </section><!-- End Get Started Section -->

    <!-- ======= Career Pyramid Section ======= -->
    <section id="alt-services" class="alt-services">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url(static/img/alt-services.png);" data-aos="zoom-in"
            data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>Career Path Pyramid</h3>
            <p>Career Path Pyramid is the operational flowchart for the assistence of Career to the Job Seekers as well Career Noobies.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Self-Assessment</a></h4>
                <p>Self-Assessment is the first step of career guidance where the user collects the information about himself/herself to select the most effective Career.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Industry Research</a></h4>
                <p>Industry Research is the step of career guidance where the user collects the information about the industrial Processes and the Current systems used.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Preparation</a></h4>
                <p>Preparation is the step of career guidance where the user gets the resources and starts the preparations for a specific Goal/Career for the choice.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Job Search / Career Management</a></h4>
                <p>Job Search/Career Management is the Last step of career guidance where the user searches for different jobs in the Specific Career in different Industries.</p>
              </div>
            </div><!-- End Icon Box -->
          </div>
        </div>

      </div>
    </section><!-- End Alt Services Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">
      <div class="container" data-aos="fade-up">

    
    
  <div class=" section-header">
        <h2>Recent Blog Posts</h2>
        <p>Current Trending Jobs</p>
      </div>

      <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="static/img/blog-1.jpg" class="img-fluid" alt="">
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Trending Commerce Jobs</h3>
              <p>In the recent times Some of the Trending Jobs in the Field of Commerce.</p>

              <hr>

              <a href="https://in.indeed.com/career-advice/finding-a-job/high-paying-commerce-jobs" target="_blank" class="readmore stretched-link"><span>Read More</span><i
                  class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End post item -->

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="static/img/blog-2.jpg" class="img-fluid" alt="">
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Trending Science Jobs</h3>
              <p>In the recent times Some of the Trending Jobs in the Field of Science.</p>

              <hr>

              <a href="https://in.indeed.com/career-advice/finding-a-job/careers-in-science" target="_blank" class="readmore stretched-link"><span>Read More</span><i
                  class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End post item -->

        <div class="col-xl-4 col-md-6">
          <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

            <div class="post-img position-relative overflow-hidden">
              <img src="static/img/blog-3.jpg" class="img-fluid" alt="">
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Trending Arts Jobs</h3>
              <p>In the recent times Some of the Trending Jobs in the Field of Arts.</p>


              <hr>

              <a href="https://in.indeed.com/career-advice/finding-a-job/jobs-in-the-arts" target="_blank" class="readmore stretched-link"><span>Read More</span><i
                  class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End post item -->

      </div>

      </div>
    </section>
    <!-- End Recent Blog Posts Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>CareerGuide.</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>